.certifications_container {
  margin-bottom: 75px;
}

.a {
  overflow: hidden;
}

.certifications_card_img {
  width: 100%;
  scale: 1.2;
}

.cert_img_wrapper {
  border: 2px rgb(163, 163, 163) solid;
}

.certifications_card_title {
  color: #2e9780;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

.certifications_card_subtitle {
  font-size: 14px;
  line-height: 1.75;
}

.certifications_card_date {
  font-size: 14px;
  color: #939393;
}

.cursor_pointer {
  cursor: pointer;
}