.footer_title {
  font-size: 16px;
  line-height: 1.5;
  color: #2e9780;
  transition: opacity 0.2s;
}

.footer_icon {
  cursor: pointer;
}

.footer_icon:hover {
  scale: 1.1;
}

@media (width <= 991px) {
  .footer_icon:hover {
    scale: 1;
  }
}
