.container_theme {
  transition: background-color 0.2s;
}

.container_dark {
  background-color: #212121;
}

.container_light {
  background-color: #f5f5f5;
}

.text_dark {
  color: #ffffff;
}

.text_light {
  color: #212121;
}

.navitem_dark,
.navitem_light {
  cursor: pointer;
  border-radius: 0.375rem;
  font-weight: 700;
  font-size: 16px;
}

.navitem_dark:hover,
.navitem_light:hover {
  color: #ffffff;
  background-color: #2e9780;
}

.background_secondary_light {
  background-color: #f3f3f3;
  transition: background-color 0.2s;
}

.background_secondary_dark {
  background-color: #303030;
  transition: background-color 0.2s;
}

.button_dark,
.button_light {
  background-color: #2e9780;
  border: 2px solid #2e9780;
  color: #ffffff;
  border-radius: 0.375rem;
  padding: 10px 0;
  font-weight: 700;
}

.button_dark:hover,
.button_light:hover {
  background-color: #237e6a;
  border: 2px solid #237e6a;
}

.button_secondary_dark,
.button_secondary_light {
  border: 2px solid #2e9780;
  color: #2e9780;
  border-radius: 0.375rem;
  padding: 10px 0;
  font-weight: 700;
  text-decoration: none
}

.button_secondary_dark:hover,
.button_secondary_light:hover {
  background-color: #2e9780;
  color: #ffffff;
}

.button_secondary_dark {
  background-color: #212121;
}

.button_secondary_light {
  background-color: #f5f5f5;
}

.language {
  transition: opacity 0.2s, background-color 0.2s, border 0.2s;
}

@media (width <=991px) {

  .button_dark:hover,
  .button_light:hover {
    background-color: #2e9780;
    border: 2px solid #2e9780;
  }

  .button_secondary_dark:hover,
  .button_secondary_light:hover {
    background-color: transparent;
    color: #2e9780;
  }
}